[SddmGreeterTheme]
Name=ChromaCon
Description=ChromaCon login: monochrome, keyboard-first
Author=Alex Sutton
Type=sddm-theme
Version=1.0
Website=
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Theme-Id=chromacon
Theme-API=2.0
QtVersion=6
